.add-student-form {
    width: 80%;
    margin: auto;
  }
  
  .form-row {
    display: grid;
    grid-template-columns: repeat(2, auto); /* Two columns, adjust as needed */
    gap: 20px; /* Spacing between fields */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: red;
  }
  
  .form-actions {
    text-align: center;
    margin-top: 20px;
  }