#overall-about {
  text-align: center; 
  background-color: rgba(210, 212, 239, 0.936)
}

#about {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 30px; 
}

.about-content {
  width: 50%; 
  text-align: left;
}
.about-content h3{
  font-size: 24px;
}
.about-image {
  width: 50%;
  max-width: 400px;
  margin: 13px 20px;
  border-radius: 10px;
}