.login-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container p {
    color: red;
    margin-bottom: 10px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
}

.login-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
}

.login-container button:hover {
    background-color: #0056b3;
}
